
  
.active-link{
    color: black;
    font-weight: 700;
}
.rewards_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.earn_wrapper{
    padding-bottom: 100px;
    height: auto;
}
.achievements_wrapper span{
    color: #145062;
}
.card{
    background-color: #f7f7f7;
}
.catalog-card{
    background-color: #F9FFFD;
}
.terms_button{
    width: 100%;
   background-color:#D9D9D9 !important;
   color: #949494;
}
.checked_class{
    background-color: #145062 !important;
    color: white;
    width: 100%;

}
.bronze_card{
    background-color: #f7f7f7;

}
.sucess_btn{
    background-color: #33CC9F !important;

}
.share_success{
    margin-top: 130px !important;
}
.modal{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), rgba(0, 15, 8, 0.80);
}
.text-container{
    position: relative;
width: 100%;
height: 100%;
display: flex;
justify-content: center;

    
}
.message{
    position: absolute;
    border-radius: 12px;
/* background: #000 !important; */  
    background: #000;
    bottom: 60px;
    font-size: 16px;
    width: 90%;
   
}
.dismiss{
    color: #33CC9F;

}
